# Скрипты не для ревью
clear_booking_db.py
create_db_booking.py

# Окружение и секреты
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
